#trivia-header {
    font-family: 'Playfair Display SC', Helvetica, sans-serif;
    background-color: #F8F5E7;
    color:#2E305F;
}

#trivia-form {
    display:none;
}

#foot-container {
    Font-size:2em;
}



.game-border {
    border-left:5px #2E305F solid;
}

.jumbotron {
    background-color:transparent;
}


.body-text {
    font-family: 'Montserrat', Arial
}

.btn-block {
    margin-top:50px;
}

/* .footer {
    position:fixed;
    height:100px;
    bottom:0;
    width:100%;
} */
hr {
    background-color:#2E305F;
    border-width: 5px;
}

body {
    background-color:#F8F5E7;
}